body {
    background-color: rgb(59, 66, 75);
    font-family: sans-serif;
}

.pageHeader {
    display: flex;
    justify-content: center;
    background-color: white;
    color: rgb(59, 66, 75);
    margin: 1em 0 1em 0;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.list { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.shop {
    flex: 0 1 31%;
    text-align: center;
    padding: 5px;
    color: white;
    border: 2px solid white;
    margin: 8px 3px 0 3px;
}

.shop:hover {
    opacity: .4;
}

.shop__address {
    margin: 7px 0 3px 0;
    font-variant-caps: small-caps;
}

.shop__phone {
    font-style: italic;
}